@import 'normalize'

@mixin clearfix
  &:after
    content: ""
    display: table
    clear: both


$footerHeight: 128px

div
  -webkit-box-sizing: border-box /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box    /* Firefox, other Gecko */
  box-sizing: border-box

body
  background: #fff
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif 
  font-weight: 300
  font-size: 13px

a
  text-decoration: none
  color: #000

#main
  width: 1000px
  margin: 0 auto
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: $footerHeight

  #header
    width: 1000px
    height: 224px
    float: left
    background: #000

    #headerImage
      float: left
      width: 720px
      height: 280px

    #logoWrapper
      float: left
      width: 280px
      height: 224px
      position: relative

      #logo
        position: absolute
        width: 118px
        height: 134px
        top: 36px
        right: 24px
        background: url('../images/logo.jpg')

      #logoTitle
        position: absolute
        bottom: 20px
        right: 24px
        color: #fff

  #nav
    float: left
    width: 720px
    height: 34px
    background: #d2d6dd

    ul
      margin: 8px 0
      padding: 0
    
      li
        display: inline
        list-style: none
        padding: 0 8px 0 34px
        font-size: 14px

        a.active
          font-weight: bold

  #recentHead
    float: left
    width: 280px
    height: 34px
    font-weight: bold
    background: #b3b6bc
    padding: 8px 0 0 14px

  #contentWrapper
    float: left
    width: 1000px
    padding-bottom: $footerHeight
    @include clearfix
    background: url('../images/bg.jpg') repeat-y

    #subnav
      float: left
      width: 120px
      min-height: 400px
      padding: 18px

      ul
        margin: 12px 0
        padding: 0

        li
          list-style: none
          margin-bottom: 10px

          a.active
            font-weight: bold

    #content
      float: left
      width: 600px
      min-height: 400px
      padding: 16px 20px 16px 0
      text-align: justify
      line-height: 19px

      blockquote
        margin: 0

    #recent
      float: left
      width: 280px
      padding: 16px 14px
      text-align: justify

#footer
  position: fixed
  width: 1000px
  height: $footerHeight
  left: 50%
  bottom: 0
  margin-left: -500px
  background: #000

  #gallery
    float: left
    width: 600px
    margin-left: 120px

    img
      height: 120px
      margin: 4px 4px 4px 0

  #footerNote
    float: left
    width: 280px
    padding: 12px 0 0 14px
    font-weight: bold
    color: #2d8e58
