@import 'normalize'

body
  background: #fff

#main
  width: 1000px
  margin: 0 auto

#header
  width: 1000px
  height: 224px
  float: left
  background: #000

#footer
  width: 1000px
  height: 180px
  float: left
  background: #000
