<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= @item[:title] %> - Schickling Stiftung</title>
<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div id="main">
    <div id="header">
        <div id="headerImage">
            <img src="<%= header_path(item) %>" alt="" />
        </div>
        <div id="logoWrapper">
            <div id="logo"></div>
            <div id="logoTitle">Begegnung von Kunst und Religion</div>
        </div>
    </div>
    <%= render 'nav' %>
    <div id="recentHead">
        Aktuelles
    </div>
    <div id="contentWrapper">
        <div id="subnav">
            <ul>
                <% if item[:subnav] %>
                <% item[:subnav].each do |el| %>
                <li><a class="<% if item.identifier == el[:link] %>active<% end %>" href="<%= el[:link] %>"><%= el[:text] %></a></li>
                <% end %>
                <% end %>
            </ul>
        </div>
        <div id="content" class="text">
            <%= yield %>
        </div>
        <div id="recent">
            <% unless item.identifier == '/aktuelles/' %>
            <%= items['/aktuelles/'].compiled_content %>
            <% end %>
        </div>
    </div>
    <div id="footer">
        <div id="gallery">
            <% if item[:images] %>
            <% item[:images].each do |image| %><a href="<%= image[:link] %>"><img src="<%= image[:file] %>" /></a><% end %>
            <% end %>
        </div>
        <div id="footerNote">
            Bildgedanke
        </div>
    </div>
</div> 
</body>
</html>
