<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= @item[:title] %> - Schickling Stiftung</title>
<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div id="main">
    <div id="header">
        <div id="headerImage"></div>
        <div id="logoWrapper">
            <div id="logo"></div>
            <div id="logoTitle">Begegnung von Kunst und Religion</div>
        </div>
    </div>
    <div id="nav">
        <ul>
            <li><a class="active" href="/">Startseite</a></li>
            <li><a href="/erich-schickling">Erich Schickling</a></li>
            <li><a href="/werke">Werke</a></li>
            <li><a href="/foerderkreis">F&#246;rderkreis</a></li>
            <li><a href="/veranstaltungen">Veranstaltungen</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </div>
    <div id="recentHead">
        Aktuelles
    </div>
    <div id="contentWrapper">
        <div id="subnav">

        </div>
        <div id="content">
            <%= yield %>
        </div>
        <div id="recent">
            Some more text!!
        </div>
    </div>
</div> 
<div id="footer">
    <div id="gallery">
        <img src="/test.jpg" alt="" /><img src="/test.jpg" alt="" /><img src="/test.jpg" alt="" /><img src="/test.jpg" alt="" />
    </div>
    <div id="footerNote">
        Bildgedanke
    </div>
</div>
</body>
</html>
