<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= @item[:title] %> - Schickling Stiftung</title>
<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div id="main">
    <div id="header">
        <div id="headerImage">
            <img src="<%= header_path(item) %>" alt="" />
        </div>
        <div id="logoWrapper">
            <div id="logo"></div>
            <div id="logoTitle">Begegnung von Kunst und Religion</div>
        </div>
    </div>
    <div id="nav">
        <ul>
            <li><a class="<% if item.identifier == '/' %>active<% end %>" href="/">Startseite</a></li>
            <li><a class="<% if item.identifier == '/erich-schickling/' %>active<% end %>" href="/erich-schickling">Erich Schickling</a></li>
            <li><a class="<% if item.identifier == '/werke/' %>active<% end %>" href="/werke">Werke</a></li>
            <li><a class="<% if item.identifier == '/foerderkreis/' %>active<% end %>" href="/foerderkreis">F&#246;rderkreis</a></li>
            <li><a class="<% if item.identifier == '/veranstaltungen/' %>active<% end %>" href="/veranstaltungen">Veranstaltungen</a></li>
            <li><a class="<% if item.identifier == '/kontakt/' %>active<% end %>" href="/kontakt">Kontakt</a></li>
        </ul>
    </div>
    <div id="recentHead">
        Aktuelles
    </div>
    <div id="contentWrapper">
        <div id="subnav">

        </div>
        <div id="content">
            <%= yield %>
        </div>
        <div id="recent">
            Some more text!!
        </div>
    </div>
</div> 
<div id="footer">
    <div id="gallery">
        <% if item[:images] %>
        <% item[:images].each do |image| %><a href="<%= image[:link] %>"><img src="<%= image[:file] %>" /></a><% end %>
        <% end %>
    </div>
    <div id="footerNote">
        Bildgedanke
    </div>
</div>
</body>
</html>
